
<div *ngIf="NGO">
    <h2><span jhiTranslate="eethar.NGO.detail.title">NGO</span> {{NGO.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eethar.NGO.name">Name</span></dt>
        <dd>
            <span>{{NGO.name}}</span>
        </dd>
        <dt><span jhiTranslate="eethar.NGO.description">Description</span></dt>
        <dd>
            <span>{{NGO.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ngo/'+ NGO.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
